name: Auto commit

on:
  push:
    branches:
      -master
      
  schedule:
    - cron: "40 * * 1 *"  # Setiap jam 20 menit di hari apapun pada bulan Oktober

permissions:
  contents: write  # Pastikan token memiliki hak untuk menulis konten

jobs:
  auto_commit:
    runs-on: ubuntu-latest
    steps:
      - name: DEBUG 
        run: echo "::debug::Ref = ${{ github.ref }}"

      - name: Checkout code
        uses: actions/checkout@v3      
        with:
          persist-credentials: false  # Hindari konflik kredensial
          fetch-depth: 0  # Ambil riwayat lengkap

      - name: Modify last update
        run: |
          d=$(date '+%Y-%m-%dT%H:%M:%SZ')
          echo "$d" > LAST_UPDATED

      - name: Configure Git
        run: |
          git config --global user.email "dimasyoga9090@gmail.com"
          git config --global user.name "dimasyoga42"

      - name: Commit changes
        run: |
          git add LAST_UPDATED
          
          arr=("chore:  update time" 
               "chore:  update time" 
               "chore:  update time"
               "chore:  update time"
               "chore:  update time"
               "chore:  update md"
               "chore:  update md"
               "chore:  update"
               "chore:  update bos"
               "chore:  update bos")

          rand=$((RANDOM % ${#arr[@]}))
          git commit -m "${arr[$rand]}"

      - name: Push changes to GitHub
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # Pastikan GITHUB_TOKEN digunakan dengan benar
